{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dashboard-wrapper">

    <!-- HEADER -->
    <div class="dashboard-header">
        <h1>Welcome, {{ request.user.username }}</h1>
        <p class="subtitle">Manage your courses and track your enrollments</p>
        <a href="{% url 'student_enrollments' %}" class="btn enrollments-link">
            View My Enrollments
        </a>
    </div>
     <!-- 🔍 SEARCH BAR -->
     <form method="get" class="search-form">
        <input
            type="text"
            name="q"
            placeholder="Search by code or title"
            value="{{ search_query }}"
            class="search-input"
        />
        <button type="submit" class="btn enroll-btn">
            Search
        </button>
    </form>


    <!-- AVAILABLE COURSES -->
    <section class="dashboard-section">
        <div class="section-header">
            <h2>Available Courses</h2>
            <div class="line"></div>
        </div>

        {% if courses %}
        <div class="grid">
            {% for course in courses %}
            <div class="course-card">

                <div class="course-header">
                    <h3>{{ course.code }}</h3>
                    <span class="tag available">Available</span>
                </div>

                <p class="course-name">{{ course.title }}</p>

                <div class="course-footer">
                    {% if course.id in enrolled_course_ids %}
                        <span class="tag enrolled-tag">Already Enrolled</span>
                    {% else %}
                        <a href="{% url 'enroll' course.id %}" class="btn enroll-btn">Enroll</a>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="empty-text">No courses available.</p>
        {% endif %}
    </section>
</div>

{% endblock %}