{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Welcome, {{ request.user.username }} </h2>

<h3>Available Courses</h3>
<div class="course-list">
    {% for course in courses %}
        <div class="course-card">
            <p><strong>{{ course.code }}</strong>: {{ course.title }}</p>
            <a class="btn" href="/enrollments/enroll/{{ course.id }}/">Enroll</a>
        </div>
    {% empty %}
        <p>No courses available.</p>
    {% endfor %}
</div>

<hr>

<h3>Your Enrollments</h3>
<div class="course-list">
    {% for enrollment in my_enrollments %}
        <div class="course-card">
            <p><strong>{{ enrollment.course.code }}</strong>: {{ enrollment.course.title }}</p>
            <a class="btn-danger" href="/enrollments/drop/{{ enrollment.id }}/">Drop</a>
        </div>
    {% empty %}
        <p>You are not enrolled in any courses yet.</p>
    {% endfor %}
</div>

{% endblock %}